// SECTION :: START

section#benefits.benefits
  .c-grid

    .benefits__title-wrapper.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")
      h2.benefits__title.c-title
        img(src="img/path-line-horizontal.png" srcset="img/path-line-horizontal@2x.png 2x" alt="")
        img(src="img/path-line-horizontal.png" srcset="img/path-line-horizontal@2x.png 2x" alt="")

        span BENEFITS RECAPPED

    .benefits__wrapper

      ul.benefits__list
        li.wow.animate__animated.animate__fadeInUp
          div
            i.icon-font.icon-check-mark
          div
            p!= "<span>Club Physique Access</span> - A community with daily workouts, challenges and insider fitness industry information"
        li.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")
          div
            i.icon-font.icon-check-mark
          div
            p!= "<span>Bi-weekly business update calls</span> from leadership team (think shareholder meetings)"
        li.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")
          div
            i.icon-font.icon-check-mark
          div
            p!= "<span>20% off discount</span> on all Chef Physique Products"
        li.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")
          div
            i.icon-font.icon-check-mark
          div
            p!= "<span>Member Only</span> Merch"
        li.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")
          div
            i.icon-font.icon-check-mark
          div
            p!= "<span>Voting Rights</span> on Future Flavors"
        li.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")
          div
            i.icon-font.icon-check-mark
          div
            p!= "<span>Taste Testing</span> Community Access"
        li.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")
          div
            i.icon-font.icon-check-mark
          div
            p!= "<span>Whitelisted</span> to Future Exclusive Drops"
        li.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")
          div
            i.icon-font.icon-check-mark
          div
            p!= "<span>Access</span> to Chef Physique Gym (Target Early 2023)"
        li.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")
          div
            i.icon-font.icon-check-mark
          div
            p!= "<span>Meet ups</span> with Sadik & Athlete Team"

      .c-btn__wrapper.c-btn__wrapper--center.wow.animate__animated.animate__fadeInUp(data-wow-duration="1.25s")
        a.c-btn(href="#")
          u.c-btn__mask Call to Action
          span Call to Action

// SECTION :: END
